html{
    height:100%;
    /*本属性设置，防止滚动条的事件导致浏览器报错*/
    touch-action: none;
    /*主页面不需要滚动条*/
    overflow: hidden;
}
body{height:100%;}
body{
    background-color: #bcb8b8;
}
*{margin:0; padding:0;}

.main-home-log{
    background-image: url("../img/logo.png");
    width: 200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 60px;
}

.el-header{
    padding: 0px;
    background-color: #3a3a3a;
    color: #fefefe;
    height: 60px;
    line-height: 60px;
}



.el-aside {
    width:40vh;
    background-color: #d5d5d6;
    color: #333;
    text-align: center;
    line-height: 200px;
    height: 92vh;
    overflow: hidden;
    box-sizing: border-box;
}

.el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    padding-top:0px !important;
    padding-left: 0px;
    padding-right: 0px;
}


body .el-container {
    height:100%;
}
.icon-el{
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}

/*滚动条样式*/
.default-scrollbar {
    height: 100%;
}
.el-scrollbar__wrap.default-scrollbar__wrap {
    overflow-x: hidden;
}
.el-menu-vertical:not(.el-menu--collapse) {
    width: 200px;
    border-top: 1px solid #a7a7a7;
}



/*因为组件js控制鼠标移入移除修改背景色的原因，这里修改了element.js文件源码，修改this.rootMenu.backgroundColor，注释掉的部分*/
.el-submenu__title,.el-menu-item{
    padding-left:20px !important;
    text-align: left;
    border-bottom: 1px solid white;
}
.el-submenu.is-active .el-submenu__title {
    border-bottom-color: white;
}

.meun-div>.el-submenu>.is-active{
    color: black !important;
    background-color: #8a9bae !important;
}

.el-menu-item.is-active {
    color: black !important;
    background-color: #8a9bae !important;
}

.meun-div>.el-menu>.is-active{
    color: black !important;
    /*background-color: #f8f8f8 !important;*/
}
.meun-div .el-submenu__title:hover{
    color: black !important;
}


.meun-div .el-submenu__title i {
    color: white;
}
.meun-div .el-menu-item:hover{
    color: black !important;
    background-color: #8a9bae !important;
}

.meun-div .el-submenu__title:hover {
    background-color: #8a9bae;
}





.el-menu-item, .el-submenu__title{
    height: 40px;
    line-height: 40px;
}
.el-submenu .el-menu-item{
    height: 40px;
    line-height: 40px;
}





.el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
    /*选中的tab底部横线颜色及其背景色*/
    border-bottom-color: #E9EEF3;
    background-color: #E9EEF3;

}

.el-tabs--card>.el-tabs__header .el-tabs__item {
    border-left: 1px solid #E4E7ED;
}

.el-tabs--card>.el-tabs__header .el-tabs__nav{
    border-left-color: #E4E7ED;
    border-right-color: #E4E7ED;
    border-radius: 0px;
}
.el-tabs__nav-wrap.is-scrollable{
    background-color: #8d8d8d;
}

.el-tabs__nav-scroll{
    background-color: #d5d5d6;
}

.el-tabs__nav-next, .el-tabs__nav-prev {
    color: white;
}
.el-icon-arrow-left{
    margin-left: 4px;
}
.el-icon-arrow-right{
    margin-right: 4px;
}
.el-tabs__item:hover {
    color: #409EFF;
    cursor: pointer;
}
.tab-page{
    padding-right: 1px;
}

.el-tabs--card>.el-tabs__header .el-tabs__item {
    border-bottom: 1px solid #acacac;
}